<h1>RCUD APP</h1>

<div fxLayout="row">
    <!-- <mat-card>
        <mat-card-title> Create </mat-card-title>
        <form class="example-form" align="center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>First Name:</mat-label>
              <input matInput value="">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Last Name:</mat-label>
              <input matInput value="">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Age:</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>E-mail:</mat-label>
              <input matInput placeholder="Ex. San Francisco">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Phone number:</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary">Submit</button>

          </form>

    </mat-card> -->
    <mat-card>
      <app-display></app-display>

    </mat-card>
</div>


